@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");
/*обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*---------------------*/
body {
  font-family: "Lato";
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
}

.page {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.2em;
  color: #353738;
}

@media (max-width: 1200px) {
  .title {
    font-size: 16px;
    letter-spacing: 0.15em;
  }
}
@media (max-width: 400px) {
  .title {
    font-size: 14px;
    letter-spacing: 0.12em;
  }
}
.text {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #848789;
  text-align: justify;
}
.text:after {
  content: "";
  display: block;
  margin: 40px auto 54px auto;
  width: 50px;
  height: 1px;
  background-color: rgba(53, 55, 56, 0.2);
}

@media (max-width: 1200px) {
  .text {
    font-size: 16px;
    line-height: 28px;
  }
  .text:after {
    margin: 30px auto 40px auto;
  }
}
@media (max-width: 400px) {
  .text {
    font-size: 14px;
    line-height: 26px;
  }
  .text:after {
    margin: 20px auto 30px auto;
  }
}
.header {
  padding: 35px 0 0 0;
  position: absolute;
  width: 100%;
  z-index: 2;
}
.header__row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__image {
  margin: 0 26.5px;
}

.header__link ul {
  display: flex;
}

.header__link ul li {
  padding: 0 36.5px;
  position: relative;
}

.header__link ul li:nth-child(2):before {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: #4d4959;
  top: 8px;
  left: 0px;
  border-radius: 50%;
}

.header__link ul li a {
  color: #4d4959;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2em;
}

@media (max-width: 800px) {
  .header__row {
    flex-direction: column;
  }
  .header__image {
    order: 1;
  }
  .header__link {
    order: 2;
  }
  .header__link ul {
    flex-direction: column;
    align-items: center;
  }
  .header__link ul li {
    margin: 25% 0 0 0;
  }
  .header__link ul li a {
    color: #4d4959;
    font-size: 18px;
    letter-spacing: 0.3em;
    text-shadow: 2px 2px 3px rgba(100, 194, 158, 0.8);
  }
  .header__link ul li:nth-child(2):before {
    display: none;
  }
}
.main-image {
  flex: 1 0 100%;
  position: relative;
}
.main-image__bg {
  background: url("/img/mane_image.png") center/cover no-repeat;
  background-attachment: fixed;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.generation {
  background-color: #f7f7f7;
  padding: 117px 0 30px 0;
  text-align: center;
}
.generation__title {
  margin: 34px 0 35px 0;
}
@media (max-width: 1200px) {
  .generation {
    padding: 60px 0 10px 0;
  }
}
@media (max-width: 400px) {
  .generation {
    padding: 30px 0 0 0;
  }
}
.company__row {
  display: flex;
}
.company__block1 {
  flex: 1 1 66.667%;
}
.company__block2 {
  flex: 1 1 33.333%;
}

.block1 {
  position: relative;
  display: flex;
}
.block1:hover .block1__logo {
  transition-duration: 1s;
  opacity: 1;
  visibility: visible;
}
.block1__image {
  background: url("../img/bycycle_company.jpg") center/cover no-repeat;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.block1__logo {
  background: url("../img/logo/logo_2.png") center no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(100, 194, 158, 0.5);
  opacity: 0;
  visibility: hidden;
}

.block2 {
  display: flex;
  flex-direction: column;
}
.block2__content {
  position: relative;
  text-align: center;
  padding: 0px 68px;
}
.block2__content:after {
  content: "";
  position: absolute;
  margin: 0 0 0 -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
}
.block2__icon {
  margin: 60px 0 0 0;
}
.block2__title {
  margin: 30px 0 26px 0;
}
.block2__image {
  padding: 0 0 37.5% 0;
  background: url("../img/bicycle_company_2.jpg") center/cover no-repeat;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media (max-width: 1000px) {
  .company__row {
    flex-direction: column;
  }

  .block1__image {
    padding: 0 0 50% 0;
  }

  .block2__content {
    padding: 0 15px;
  }
}
@media (max-width: 400px) {
  .block2__icon {
    margin: 30px 0 0 0;
  }
}
.vintage__row {
  display: flex;
}
.vintage__block1-2 {
  flex: 1 1 33.333%;
}
.vintage__block2-2 {
  flex: 1 1 66.667%;
}

.block1-2 {
  display: flex;
  flex-direction: column;
}
.block1-2__content {
  text-align: center;
}
.block1-2__content:after {
  content: "";
  position: absolute;
  margin: 0 0 0 -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
}
.block1-2__icon {
  margin: 60px 0 0 0;
}
.block1-2__title {
  margin: 29px 0 26px 0;
}
.block1-2__text {
  margin: 0 68px;
}
.block1-2__image {
  padding: 0 0 37.5% 0;
  background: url("../img/vintage_2.jpg") center/cover no-repeat;
  width: 100%;
  height: 100%;
  top: 0;
  height: 0;
}

.block2-2 {
  display: flex;
  position: relative;
}
.block2-2:hover .block2-2__logo {
  transition-duration: 1s;
  opacity: 1;
  visibility: visible;
}
.block2-2__image {
  background: url("../img/vintage.jpg") center/cover no-repeat;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.block2-2__logo {
  background: url("../img/logo/logo_3.png") center no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(100, 194, 158, 0.5);
  opacity: 0;
  visibility: hidden;
}

@media (max-width: 1000px) {
  .vintage__row {
    flex-direction: column;
  }
  .vintage .block1-2__text {
    margin: 0 15px;
  }
  .vintage .block2-2__image {
    padding: 0 0 50% 0;
    margin: 10px 0;
  }
}
@media (max-width: 400px) {
  .vintage .block1-2__icon {
    margin: 30px 0 0 0;
  }
}
.bicycles__row {
  display: flex;
}
.bicycles__block1-3 {
  flex: 1 1 33.333%;
}
.bicycles__block2-3 {
  flex: 1 1 33.334%;
}
.bicycles__block3-3 {
  flex: 1 1 33.333%;
}

.block1-3 {
  display: flex;
  position: relative;
}
.block1-3:hover .block1-3__logo {
  transition-duration: 1s;
  opacity: 1;
  visibility: visible;
}
.block1-3__image {
  background: url("../img/bicycle.jpg") center/cover no-repeat;
  width: 100%;
  height: 100%;
}
.block1-3__logo {
  background: url("../img/logo/logo_4.png") center no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(100, 194, 158, 0.5);
  opacity: 0;
  visibility: hidden;
}

.block2-3 {
  display: flex;
  flex-direction: column;
}
.block2-3__content {
  text-align: center;
  padding: 60px 68px 0 68px;
}
.block2-3__content:after {
  content: "";
  position: absolute;
  margin: 0 0 0 -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
}
.block2-3__title {
  margin: 20px 0 26px 0;
}
.block2-3__image {
  padding: 0 0 37.5% 0;
  background: url("../img/bicycle_2.jpg") center/cover no-repeat;
  width: 100%;
  height: 100%;
}

.block3-3__image {
  background: url("../img/bicycle_3.jpg") center/cover no-repeat;
  width: 100%;
  height: 100%;
}

@media (max-width: 1000px) {
  .bicycles__row {
    flex-direction: column;
  }
  .bicycles .block1-3__image {
    padding: 0 0 50% 0;
  }
  .bicycles .block2-3__content {
    padding: 60px 15px 0 15px;
  }
  .bicycles .block3-3__image {
    padding: 0 0 50% 0;
    margin: 10px 0 0 0;
  }
}
@media (max-width: 400px) {
  .bicycles .block2-3__content {
    padding: 30px 15px 0 15px;
  }
}
.aod__content {
  text-align: center;
  padding: 124px 0 183px 0;
}
.aod__title {
  margin: 37px 0 27px 0;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #353738;
}
.aod__title span {
  font-weight: 300;
  color: #848789;
}
.aod__text {
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  font-style: italic;
  color: #848789;
}

@media (max-width: 1000px) {
  .aod__content {
    padding: 60px 0 90px 0;
  }
  .aod__title {
    font-size: 16px;
    margin: 30px 0 20px 0;
  }
  .aod__text {
    font-size: 20px;
  }
}
@media (max-width: 550px) {
  .aod__content {
    padding: 30px 0 45px 0;
  }
  .aod__title {
    font-size: 14px;
    margin: 20 0 15px 0;
  }
  .aod__text {
    font-size: 17px;
  }
}
.shop__row {
  display: flex;
}
.shop__block4-1 {
  flex: 1 1 33.333%;
}
.shop__block4-2 {
  flex: 1 1 33.334%;
}
.shop__block4-3 {
  flex: 1 1 33.333%;
}

.block4-1__up {
  display: flex;
}
.block4-1__image1 {
  padding: 0 0 50% 0;
  background: url("../img/block4/1.jpg") center/cover no-repeat;
  width: 100%;
  height: 100%;
}
.block4-1__image2 {
  padding: 0 0 50% 0;
  background: url("../img/block4/2.jpg") center/cover no-repeat;
  width: 100%;
  height: 100%;
}
.block4-1__image3 {
  padding: 0 0 50% 0;
  background: url("../img/block4/3.jpg") center/cover no-repeat;
  width: 100%;
  height: 100%;
}

.block4-2 {
  display: flex;
}
.block4-2__image1 {
  background: url("../img/block4/4.jpg") center/cover no-repeat;
  width: 100%;
  height: 100%;
}
.block4-2__image2 {
  background: url("../img/block4/5.jpg") center/cover no-repeat;
  width: 100%;
  height: 100%;
}

.block4-3__image1 {
  padding: 0 0 50% 0;
  background: url("../img/block4/3.jpg") center/cover no-repeat;
  width: 100%;
  height: 100%;
}
.block4-3__down {
  display: flex;
}
.block4-3__image2 {
  padding: 0 0 50% 0;
  background: url("../img/block4/7.jpg") center/cover no-repeat;
  width: 100%;
  height: 100%;
}
.block4-3__image3 {
  padding: 0 0 50% 0;
  background: url("../img/block4/8.jpg") center/cover no-repeat;
  width: 100%;
  height: 100%;
}

.images {
  position: relative;
}
.images:hover .images__logo {
  transition-duration: 1s;
  opacity: 1;
  visibility: visible;
}
.images__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../img/logo/shop_now.png") center no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(100, 194, 158, 0.5);
  opacity: 0;
  visibility: hidden;
}
.images__logo span {
  display: block;
  margin: 60px 0 0 0;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
}

@media (max-width: 800px) {
  .shop__row {
    flex-wrap: wrap;
  }
  .shop .block4-1 {
    flex: 1 1 50%;
  }
  .shop .block4-2 {
    flex: 1 1 50%;
  }
  .shop .block4-2__image1 {
    padding: 0 0 100% 0;
  }
  .shop .block4-2__image2 {
    padding: 0 0 100% 0;
  }
  .shop .block4-3 {
    flex: 1 1 100%;
  }
}
@media (max-width: 500px) {
  .shop .block4-1 {
    flex: 1 1 100%;
  }
  .shop .block4-2 {
    flex: 1 1 100%;
  }
  .shop .block4-3 {
    flex: 1 1 100%;
  }
}
.discover {
  display: flex;
  justify-content: center;
  padding: 75px 0;
  background-color: #282f35;
  text-align: center;
}
.discover__block {
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 20px 55px;
}
.discover__shop {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
}

.discover__block:hover {
  transition-duration: 0.3s;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
  color: #50f5f5;
  border: 1px solid #50f5f5;
}

@media (max-width: 600px) {
  .discover {
    padding: 45px 0;
  }
}
@media (max-width: 400px) {
  .discover {
    padding: 30px 0;
  }
  .discover__block {
    padding: 20px 20px;
  }
}
.saddle {
  padding: 110px 0 110px 0;
}
.saddle__logo {
  text-align: center;
}
.saddle__text {
  margin: 35px 0;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  font-style: italic;
  color: #848789;
}
.saddle__email {
  text-align: center;
  display: flex;
  justify-content: center;
}
.saddle__email input {
  width: 400px;
  height: 70px;
  border: 1px solid #d3d7d9;
  margin: 0 8px 0 0;
  padding: 0 0 0 28px;
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  color: #929292;
}
.saddle__email input:focus {
  color: #000;
  font-style: normal;
  font-weight: normal;
}
.saddle__email button {
  width: 126px;
  height: 70px;
  background-color: #64c29e;
}
.saddle__email button span {
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  text-transform: uppercase;
}

@media (max-width: 1000px) {
  .saddle {
    padding: 70px 0;
  }
}
@media (max-width: 550px) {
  .saddle {
    padding: 50px 0;
  }
  .saddle__email {
    flex-direction: column;
    align-items: center;
  }
  .saddle__email input {
    margin: 0 0 0 0;
    width: 80%;
  }
  .saddle__email button {
    margin: 10px 0 0 0;
    width: 80%;
  }
}
@media (max-width: 420px) {
  .saddle__text {
    margin: 20px 0;
  }
  .saddle__email input {
    font-size: 16px;
  }
}
.footer {
  background-color: #f7f7f7;
}
.footer__row {
  display: flex;
  align-items: center;
}
.footer__address {
  flex: 1 1 31%;
  padding: 0 15% 0 0;
}
.footer__address p {
  line-height: 17px;
  color: #848789;
  font-size: 13.9px;
  font-weight: 400;
  font-style: italic;
}
.footer__address p:nth-child(1) {
  font-size: 16px;
  font-weight: 700;
  color: #848789;
  font-style: normal;
}
.footer__social {
  margin: 108px 0;
  flex: 1 1 28.4%;
}
.footer__social a:nth-child(2) img {
  margin: 0 10px;
}
.footer__dev {
  display: flex;
  align-items: center;
}
.footer__dev p {
  margin: 0 10px 0 0;
}

@media (max-width: 1000px) {
  .footer__social {
    margin: 70px 0px;
  }
}
@media (max-width: 650px) {
  .footer__row {
    flex-direction: column;
  }
  .footer__address {
    flex: 1 1 100%;
    text-align: center;
    padding: 0 100px;
  }
  .footer__social {
    flex: 1 1 auto;
    margin: 40px 0;
  }
}
@media (max-width: 500px) {
  .footer__address {
    padding: 0 70px;
  }
  .footer__social {
    flex: 1 1 auto;
    margin: 30px 0;
  }
}
@media (max-width: 430px) {
  .footer__address {
    padding: 0 30px;
  }
  .footer__social {
    flex: 1 1 auto;
    margin: 20px 0;
  }
}
